# Python
__pycache__/
*.egg-info/
dist/
build/
.eggs/
*.egg
*.whl

# Virtual environment
venv/
.env

# Django
*.sqlite3
db.sqlite3
media/
documents/
staticfiles/

# Node
node_modules/
package-lock.json

# Tailwind
static/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Environment
*.env.local
*.env

VERSION
